@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}

progress::-webkit-progress-value {
  background-color: #f3c954; /* Color of the filled part of the progress bar */
}

progress::-moz-progress-bar {
  background-color: #f3c954; /* Color of the filled part of the progress bar */
}
