@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}

progress::-webkit-progress-value {
  background-color: #f3c954; /* Color of the filled part of the progress bar */
}

progress::-moz-progress-bar {
  background-color: #f3c954; /* Color of the filled part of the progress bar */
}

.checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #e5e5e5;
}
